.is_hidden {
    display: none !important;
}

#allFieldsError {
    color: red;
}

.indie-flower {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-style: normal;
}

.source-sans {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #7AAACE;
}

main {
    display: grid;
}

header {
    display: grid;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    padding-bottom: 2%;
    background-color: white;
    color: #355872;
}

h1 {
    display: grid;
    text-align: center;
    padding-top: 2%;
    font-size: 60px;
    margin-bottom: 0;
}

#list-section {
    display: grid;
    grid-template-columns: 40% 1fr;
    margin-bottom: 4%;
    margin-top: 2%;
}

#check {
    display: grid;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
}

picture {
    display: grid;
    align-self: center;
}

#picture {
    display: grid;
    width: 60%;
    justify-self: center;
    transform: rotate(-5deg);
}

#todos {
    display: grid;
    width: 85%;
    justify-self: center;
    margin-top: 2%;
    margin-right: 3%;
    border: 3px solid #7AAACE;
    border-radius: 10px;
}

#todos ul {
    display: grid;
    width: 100%;
    background-color: white;
    justify-self: center;
    list-style: none;
    border-bottom: 1px solid #7AAACE;
    border-radius: 10px;
    padding-left: 0;
    padding-top: 1%;
    margin: 0;
    color: #355872;
    font-weight: 600;
}

#todos ul li {
    align-content: center;
    font-size: 18px;
    margin-left: 3%;
}

#add-section {
    display: grid;
    width: 65%;
    justify-self: center;
    background-color: white;
    padding: 3%;
    margin-top: 10%;
    color: #355872;
    border: 1px solid white;
    border-radius: 10px;
}

form {
    display: grid;
    width: 40%;
    line-height: 1em;
}

input[type=text] {
    border: 1px solid #355872;
    padding: 1%;
}

input[type=button] {
    width: 30%;
    border: 1px solid #355872;
    background-color: white;
    color: #355872;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

label {
    margin-bottom: 1%;
}

footer {
    display: grid;
    width: 100%;
    text-align: center;
    background-color: white;
    color: #355872;
    margin-top: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media screen and (max-width: 1100px) {

    h1 {
        font-size: 50px;
    }

    #list-section {
        grid-template-columns: none;
    }

    #picture {
        width: 35%;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    #todos {
        width: 70%;
        margin-right: 0;
    }

    input[type=button] {
        width: 45%;
        margin-top: 2%;
    }
}

@media screen and (max-width: 800px) {

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }

    #picture {
        width: 40%;
    }

    #todos {
        width: 85%;
        font-size: 14px;
    }

    #todos ul li {
        font-size: 17px;
    }

    #todos label {
        font-size: 15px;
    }

    #todos button {
        font-size: 11px;
    }

    #add-section {
        width: 80%;
    }

    h2 {
        font-size: 20px;
    }

    form {
        width: 60%;
    }

    #add-section label {
        font-size: 14px;
    }

    input[type=button] {
        width: 25%;
        font-size: 11px;
        padding: 1%;
    }

    input[type=text] {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 17px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    #todos button {
        font-size: 10px;
    }

    #todos ul li {
        font-size: 15px;
    }

    #todos label {
        font-size: 14px;
    }

    input[type=button] {
        width: 30%;
        font-size: 10px;
    }

    ::placeholder {
        font-size: 10px;
    }

    #picture {
        width: 45%;
    }

}